.div2{
    margin-right: 0px;
    background-color: #EEEEEE;
}
.texto{
    font-size: 25px; 
    color: #1F1F1F;

}
 .logo{
    width: 60px;
    height: 60px;
    background-color: #f1f0f0;
    border-radius: 30px;
}
 
.div{
    padding-right: 0px;
}
.ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

.title {
    font-size: 15px;
    font-weight: bold;
    color: #1F1F1F;
    margin-top: 15px;
    margin-bottom: 5px
}
.li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    padding: 20px;
    /* color: #f1f0f0; */
}
/* .li:hover{
    background-color: #56070C;
    
} */
   .icon {
       font-size: 50px;
       color: #91091E;
   }
   .center{
       padding-left: 10px;
   }
   .link{
    text-decoration: none;
   }
   .text{
    color: #1F1F1F;
    font-size: 12px;
   }
   /* .text:hover{
    color: #1F1F1F;
   } */
   .profitChart{
    padding-left: 100px;
   }
