.div2{
    margin-right: 0px;
 }
 
 .div{
    padding-right: 0px;
 }
 .ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

   .title {
     font-size: 10px;
     font-weight: bold;
     color: #999;
     margin-top: 15px;
     margin-bottom: 5px;
   }
   .li {
       display: flex;
       align-items: center;
       padding: 5px;
       cursor: pointer;
       /* color: #f1f0f0; */
   }
   .li:hover{
       background-color: #56070C;
      
   }
   .icon {
       font-size: 18px;
       color: #63161b;
   }
   .center{
       padding-left: 10px;
   }
   .link{
    text-decoration: none;
   }
   .text{
    color: #f1f0f0;
   }
   /* .text:hover{
    color: #1F1F1F;
   } */