.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ItemCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 200px;
    width: 50%;
    /* border-radius: 20px; */
    background-color: white;
    backdrop-filter: blur(10px);
}

.image{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 200px;
}

.imagePublication{
    /* border-radius: 10%; */
    height: 100%;
    min-width: 200px;
    object-fit: cover;
}

.containerCounter{
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}


.publication{
    font-family: var(--font-family-1);
    font-size: large;
    display: flex;
    text-align: left;
}

.count, .price{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-1);
    font-size: medium;
}