.navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px; */
    /* background-color: #F5EFE6; */
    background-color: var(--background-color);
    /* width:100%; */
    box-shadow: 0px 0.5px 5px gray;
}

.logo{
    width: 80px;
    height: 80px;
}

/* .links{
    display: flex;
    gap: 10px;
    align-items: center;
} */

.span{
    font-size: 1.5rem;
    font-family: var(--font-family-1);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.3rem;
    text-decoration: none;
    color: black;
    /* color: whitesmoke; */
}

/* .links{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.links:first-child{
    background-color: aqua;
}

.carritoContainer{
    position: relative;
}
.carritoContainer img{
    width: 80px;
    height: 80px;
}

.numberCarrito{
    position: absolute;
    background-color: var(--btn-background-color);
    color: black;
    /* color: white; */
    font-weight: 500;
    bottom: 40%;
    left: 60%;
    padding: 0px 4px;
    border-radius: 25px;
    font-family: var(--font-family-1);
    font-size: 10px;
}


@media (max-width: 992px) {
   .numberCarrito{
    left: 50%;
   }
  }
  