.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
    width:100%;

}
.span{
    font-family: var(--font-family-1);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.3rem;
    text-decoration: none;
    color: #1F1F1F
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carritoContainer{
    position: relative;
}

.numberCarrito{
    position: absolute;
    background-color: var(--btn-background-color);
    color: white;
    font-weight: 500;
    bottom: 40%;
    left: 60%;
    padding: 1px 4px;
    border-radius: 25px;
}