.navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px; */
    background-color: var(--background-color);
    /* width:100%; */
    box-shadow: 0px 0.5px 5px gray;
}

.logo{
    width: 60px;
    height: 60px;
}

/* .links{
    display: flex;
    gap: 10px;
    align-items: center;
} */

.span{
    font-size: 1.8rem;
    font-family: var(--font-family-1);
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.3rem;
    text-decoration: none;
    color: black;
    /* color: whitesmoke; */
}

/* .links{
    display: flex;
    flex-direction: row;
    align-items: center;
} */

.links:first-child{
    background-color: aqua;
}

.carritoContainer{
    position: relative;
}
.carritoContainer img{
    width: 60px;
    height: 60px;
}

.userLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--font-family-1);
    margin: 0 4px 0 4px;
}

.numberCarrito{
    position: absolute;
    /* background-color: var(--btn-background-color); */
    background-color: #91091E;
    color: white;
    font-weight: 500;
    bottom: 40%;
    left: 60%;
    padding: 0px 7px;
    border-radius: 25px;
    font-family: var(--font-family-1);
    font-size: 14px;
}


@media (max-width: 992px) {
    .numberCarrito{
    left: 50%;
    }
}

.userDataContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
    border-left: 2px solid gray;
}

.logoContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.userImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 16px;
    object-fit: cover;
}
  
.username{
    font-size: 16px;
    color: black;
}

.messenger{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #91091E;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #91091E;
}
.messenger:hover{
    color:  #91091E;
    transition: .3s;
    background-color: white;
}
.admin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    font-size: 16px;
    text-decoration: none;
    color: #91091E;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #91091E;
}
.admin:hover{
    color:  white;
    transition: .3s;
    background-color: #91091E;
}
.notificationIcon{
    width: 35px;
    height: 35px;
}

.numberNotifications{
    position: absolute;
    /* background-color: var(--btn-background-color); */
    background-color: #91091E;
    color: white;
    font-weight: 500;
    padding: 0px 7px;
    border-radius: 50%;
    font-family: var(--font-family-1);
    font-size: 12px;
    top: 0;
    left: 20px;
}

.notifications{
    position: absolute;
    top: 60px;
    left: 100px;
    background-color: white;
    color: black;
    font-weight: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    font-size: 12px;
    z-index: 2;
    box-shadow: 1px 1px 5px gray;
}

.notification{
    font-weight: 500;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.notificationBtn{
    border: 1px solid #91091E;
    background-color: #91091E;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}
.notificationsContainer{
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.toggler{
    border: none;
}
.menu{
    font-size: 25px;
}
@media (max-width: 992px){
    .logo{
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 768px){
    .logo{
        height: 50px;
        width: 50px;
    }
    .toggler{
        margin-right: 5%;
        border: none;
    }
}

@media (max-width: 576px){
    .logo{
        height: 40px;
        width: 40px;
    }
    .userImage{
        width: 30px;
        height: 30px;
        margin-left: 12px;
    }
    .username{
        font-size: 12px;
    }
    .notificationIcon{
        width: 25px;
        height: 25px;
    }
    .messenger, .admin{
        margin-left: 8px;
        font-size: 12px;
        padding: 6px;
    }
    .userDataContainer{
        gap: 4px;
        margin-left: 2px;
    }
    .notificationsContainer{
        width: 30px;
        height: 28px;
        margin-left: 8px;
    }
    .numberNotifications{
        padding: 0px 5px;
        border-radius: 50%;
        font-family: var(--font-family-1);
        font-size: 10px;
        top: 3;
        left: 12px;
    }
    .menu{
        font-size: 20px;
    }
}
@media (max-width: 400px){
    .toggler{
        margin-right: 3px;
    }
}