.firstTd, .Td{
    text-align: left;
    padding-left: 20px;
}

.secTd{
    text-align: right;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
}