.firstTd, .Td{
    text-align: left;
    padding-left: 20px;
}

.secTd{
    text-align: right;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
}

.container{
    padding-top: 50px;
    /* background-image: url(../../utils/images/vector.jpg);
    background-size: cover; */
    background-color: #EEEEEE;
}

.table, .table2{
    width: 75%;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
}