.container{
    width: 50%;
}
.button{
    display: flex;
    justify-content: center;
    width: 25%;
}

@media (max-width: 768px) {
    .container{
        width: 75%;
    }
    .button{
        width: 50%;
    }
}