/* .globalContainer{

    width: 1400px;
    
lo comenté porque rompe el ancho de la página
} */


.globalContainer{
    width: 100%;
    margin-top: 8px;
    min-height: 100vh;
}

.divPagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    animation: show 3s;
}

@keyframes show{
    from{
        opacity: 0
    }to{
        opacity: 100
    }
}

.filter_products{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(2, auto); */
    gap: 50px;
}

.navFilters{
    grid-column: span 1;
    /* grid-row: span 1; */
}

.containerProducts{
    display: grid;
    grid-column: span 5;
    /* grid-row: auto; */
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
    padding-bottom: 50px;
}

/* .sectionCards{
    display: grid;
    grid-column: span 1;
} */

.Filters{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: fit-content;
    gap: 20px;
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--font-family-1);
    background-color: white;
    height: fit-content;
    max-height: 100vh;
    margin-left: 10px;
    padding: 10px 10px 10px 0px;
}

.buttonLeft, .buttonRight{
    font-weight: bolder;
    width: 30px;
    height: 30px;
    /* border: 1px solid var(--btn-background-color); */
    border-radius: 6px;
    cursor: pointer;
    color: #999491 ;
    transition: 0.2s;
    border:0ch;
    font-size: 20px;
}

.buttonLeft:hover, .buttonRight:hover{
    /* background-color: var(--btn-background-color);
    color: white; */
    color: #837e7c;
    transform: scale(1.3);
}

.filtersContainer{
    animation: show 2s;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px 20px;
    grid-gap: 16px;
    gap: 16px;
    
}
.searchFilter{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    animation: show 2s;
}

.footer{
    animation: footerAnimation 2s;
}

@keyframes footerAnimation{
    0%{
        opacity: 0
    }
    25%{
        opacity: 0
    }
    100%{
        opacity: 100
    }
}

@media (max-width: 992px) {
    .navFilters{
        display: grid;
        justify-content: center;
        grid-column: span 6;
        /* grid-template-columns: auto; */
    }
    .sectionCards{
        display: flex;
        justify-content: center;
    }
}