.globalContainer{
    margin-top: 48px;
    font-size: 16px;
    font-family: var(--font-family-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: show 2s
}

@keyframes show{
    from{
        opacity: 0
    }to{
        opacity: 100
    }
}