.navlink{
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  /* color: whitesmoke; */
  color:#1F1F1F;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
  cursor: pointer;
}

.navlink:hover{
  color: rgb(173, 166, 166);
  /* color:var(--btn-background-color) */
}

.navlinkActive{
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  /* color: whitesmoke; */
  color:#1F1F1F;
  text-decoration: none;
  margin: 0 1rem;
  transition: all 0.3s ease;
  padding: 0.5rem 0;
  cursor: pointer;
  /* border-bottom: 3px solid whitesmoke; */
  border-bottom: 3px solid var(--btn-background-color);
}

.navlinkActive:hover{
  color:#1F1F1F;
  /* color: rgb(210, 210, 210); */
}

@media (max-width: 992px) {
  .navlinkActive{
    border: none;
  }
  .navlink{
    font-size: 1.5rem;
  }
}