.div1{
    display: flex;
    align-items: flex-start;
    color: #610a10;
    font-weight: bold;
    font-size: small;
}
.div2{
    display: flex;
    align-items: center;
    content: inherit;
}
.div3{
    display: flex;
    align-items:center;
}
.span{
    display: flex;
    font-size: small;
    font-weight: bold;
    align-self: flex-start;
}