.card{
    width: 250px;
    height: 450px;
    background-color: var(--background-color);
    margin-top: 10%;
}

.divImage{
    padding-top: 20px;
    display: flex;
    position: relative;
    margin-bottom: 16px;
    justify-content: center;
}

.dataCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.cardTitle{
    text-decoration: none;
    font-weight: 800;
    font-size: 20px;
    font-family: var(--font-family-1);
}

.buttonCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.cartButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    background-color: var(--btn-background-color);
    padding: 10px;
    cursor: pointer;
    color: white;
    font-family: var(--font-family-1);
    font-weight: 700;
}
.detailButton{
    background-color: var(--btn-background-color);
    padding: 13px;
    cursor: pointer;
    color: white;
    font-family: var(--font-family-1);
    font-weight: 700;
}

.image{
    height: 170px;
}