/* .section{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  width: 30%;
  padding: 5px;
}

.p{
  color: red;
}
.succes{
  color: green;
} */

.send{
  color: green;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}