.container{
border:  solid 2px gainsboro;
background-color: white;
/* display: grid; */
border-radius: 20px;
width: 90%;
height: 600x;
/* grid-template-columns: auto auto; */
margin: 50px auto 0px auto;
}

.title{
margin-top: 40px;
font-family: var(--font-family-2);
margin-bottom: -50px;
}

.cards{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-bottom: 50px;
    padding-top: 0px;
    
}