.container{
    border:  solid 2px gainsboro;
    background-color: white;
    display: grid;
    border-radius: 20px;
    width: 90%;
    height: 20%;
    grid-template-columns: auto auto auto auto;
    margin:  auto auto;
    margin-top: 60px;

    /* margin-left: 100px; */
}

.title{
    grid-column: 1/5;
    font-family: var(--font-family-2);
    display: inline-block;
    text-align: left;
    padding-left: 50px;
}

.title h1{
    color: #56070C;
    font-size: 25px;
    height: 60%;
}

.columna1{
    display: inline-block;
    text-align: left;
    font-family: var(--font-family-2);
    padding-left: 50px;

}

.columna2{
    display: inline-block;
    text-align: left;
    font-family: var(--font-family-2);
    padding-left: 50px;
}

.st{
    color: #56070C;
    font-size: 25px;
}

.sp{
    font-size: 16px;
    color: grey;

}