.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #EEEEEE;
}

.image{
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}

.button{
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--background-color);
    background-color: var(--btn-background-color);
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid var(--btn-border-color);
    border-radius: 6px;  
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: .3s;
}

.button2{
    font-family: var(--font-family-1);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--btn-background-color);
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 7px;
    border: 1px solid var(--btn-border-color);
    border-radius: 6px;  
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: .3s;
}

.button:hover{
    font-family: var(--font-family-1);
    background-color: #56070cd2;
    color: #FFFFFF;
    border: 1px solid var(--btn-border-color);
    transition: .3s;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
}

.button2:hover{
    font-family: var(--font-family-1);
    background-color: #EEEEEE;
    color: var(--btn-background-color);
    border: 1px solid var(--btn-border-color);
    transition: .3s;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
}