.container{
    /* width: 100vw;
    height: 100vh; */
    /* border:  solid 2px red; */
    display: grid;
    margin-bottom: 150px;
}

.cardContainer{
    border:  solid 2px gainsboro;
    background-color: white;
    display: grid;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    grid-template-columns: auto auto;
    margin:  auto auto;
    margin-top: 20px;

    /* margin-left: 100px; */
}

.card1{
    /* border: solid 2px blue; */
    width: 350px;
    height: 380px;
    margin:  auto auto;
    border:  solid 2px gainsboro;
    border-radius: 3px;
}

.imageContainer{
width: 100%;
display: block

}

.card1 img{
    width: 320px;
    border:  transparent;
    border-radius: 5px;
    height: 320px;
    object-fit: scale-down;
    position: center;
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.9);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.9); */
}

.card2{
    /* border: solid 2px violet; */
    width: 600px;
    height: 400px;
    margin:  auto;

}

.card2 .header{
    font-size:  30px;
    font-family: var(--font-family-1);
}

h1{
    font-size:  40px;
    font-family: var(--font-family-2);
    margin-top: 20px;
}

.card2 .body{
    display: flex;
    color: rgba(0, 0, 0, 0.87);

}
.card2 .body .pedido{
    /* border: solid 2px yellow; */
    display: flex;
    margin-top: 105px;
    position: relative;
    left: 0px;
    align-items: center;
    text-align: center;
    width: 120px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}

.card2 .body .pedido button{
    width: 50px;
    height:  50px;
    font-size: 30px;
    border: transparent;
    background-color: transparent;
    /* pointer: cursor; */
}

.card2 .body .pedido button:hover{
  background-color: rgba(0, 0, 0, 0.27);
  border-radius: 50px;
}

.card2 .body .pedido span{
    font-size:  30px;
}

.card2 .body .carrito{
    /* border: solid 2px red; */
    display: flex;
    position:  relative;
    object-fit: contain;
    width: 100%;
    left:  5px;
    margin:  0px;
    margin-top: 95px;
    font-family: var(--font-family-2);

}

.card2 .body .carrito button{
    background-color: RGBA(0,0,0,0.07);
    color: black;
    font-size:  20px; width: 190px;
    height: 50px;
    border: transparent;
    background-color: #56070C;
    border-radius: 10px;
    border: transparent;
    font-size: 15px;
    color: whitesmoke;
    margin:  10px;
}

.card2 .body .carrito button:hover{
    background-color:  white;
    color:  black;
    transition: 1s all;
}

.iconContainer{
    border: red;
    text-align: right;
    margin-right: 30px ;
    margin-bottom: 16px;
    margin-top: 16px;
}
    

    .icon{
        width: 20px;
        height: 20px;
        color: gray;
        cursor: pointer;
    }

    .iconActive{

        width: 20px;
        height: 20px;
        color: var(--btn-background-color);
        cursor: pointer;
    
    }