.section{
    /* position: absolute;
    width: 1440px;
    height: 360.31px; */
    background: #56070C;
    display: flex;
    justify-content: space-between;
    height: 100px
  }

.box{
    background-color: blue;
    width: 80px;
    height: 100px;
    text-align: center;
  }

.comprasBox{
    background-color: blueviolet;
    width: 80px;
    height: 100px;
    text-align: center;
}

.acercaDeBox{
    background-color: aqua;
    width: 80px;
    height: 100px;
    text-align: center
}

.ayudaBox{
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    text-align: center;
}