.container{
    /* border: solid 2px black; */
    display: flex ;
    flex-direction: column;
    background-color: #56070C;
    color: white;
    padding-top: 20px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}
.sep{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.titleBox{
    
    margin-top: 10px;
}
.titleBox h1{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.titleBox span{
    font-size: 15px;
    font-family: var(--font-family-1);
}

.comprasBox{
    margin-top: 10px;
    text-justify: inter-word;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    text-align: left;
    
}

.acercaBox{
    margin-top: 10px;
    text-justify: inter-word;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    text-align: left;
}
.t{
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-family: var(--font-family-1);
}
.l{
    font-size: 15px;
    font-family: var(--font-family-1);
}

.acercaBox a{
    text-decoration: none;
    color: white;
}


.ayudaBox{
    margin-top: 10px;
    text-justify: inter-word;
    display: inline-block;
    list-style: none;
    list-style-type: none;
    text-align: left;
}

.iconos{

    display: inline-flex;
    text-align: center;
    width: 50%;
    margin: auto auto;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: space-around;
}

.btn a{
    text-decoration: none;
    color: white;
}
