.container {
    display: flex;
    height: 60px;
    position: relative;
}

.searchBar {
    display: flex;
    align-items: center;
    width: 430px;
    cursor: pointer;
    border-radius: 20px;
}

.submitSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 5px 10px gray;
    font-size: 12px;
    padding: 24px; 
    color: aliceblue;
    border: none; 
    margin-left: 10px;
    border-radius: 50px;
} 

.inputSearch {
    outline: none;
    height: 58px;
    width: 370px;
    margin-left: 15px;
    padding-left: 20px;
    font-size: 15px;
    box-shadow: 0px 3px 5px gray;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
} 

.inputSearch::placeholder{
    font-family: var(--font-family-1);
    letter-spacing: 1px;
}

.submit-search:hover {
    transform: translateY(0px);
    background-color: rgb(195, 195, 195);
    transition: .3s;
}