.navlink{
    padding: 5px 0 5px 0;
}

.navlinkActive{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: -15px;
    border-left: 8px solid #91091E;
}

.logout{
    border: none;
    background-color: transparent;
}