/* .general{
    font-family: var(--font-family-2) !important;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #170000; 
    font-size: 1.2rem;
    font-weight: 500;
    margin-inline: 10px;
    align-content: space-around;

}
.selects{
    display: flex;
    text-align: left;
    border-bottom: 1px solid rgba(173, 167, 167, 0.744);
}
.filtros{
    margin-inline: 10px;
}
.optSelect{
    margin-inline: 10px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    color: #aba7a4;
    border: none;
    cursor: pointer;
    background-color: #fefefe;
    /* border-bottom-color: 1px solid #b9b3af; */

/* .optSelect:hover{
    background-color: var(--btn-background-color);
    color: var(--background-color);
    font-weight: 500;
    transition: .3s;
}
.limpiarFiltros{
    align-content: space-around;
    margin-inline: 10px;
    display: inline;
    padding: 10px;
    width: 120px;
    border-width: 1px;
    border-radius: 5px;
    font-family: var(--font-family-2);
    font-weight: 600;
    color: var(--btn-sel-background-color);
    cursor: pointer;

    border-color: #b9b3af;
    background-color: #fefefe;

}
.limpiarFiltros:hover{
    background-color: var(--btn-background-color);
    color: var(--background-color);
    transition: .3s;
}

@media (max-width: 992px) {
    .general{
        flex-direction: row;
    }
}  */
.general{
    font-family: var(--font-family-2) !important;
    line-height: 1.2;
    display: flex;
    flex-direction: row;
    color: #170000; 
    font-size: 1.2rem;
    font-weight: 500;
    margin-inline: 10px;
    align-content: space-around;

}
.filtros{
    margin-inline: 10px;
}
.optSelect{
    margin-inline: 10px;
    font-weight: 500;
    /* border-radius: 5px; */

    outline: none;
    color: #484D55;
    cursor: pointer;
    background-color: #fefefe;
    /* border-color: #b9b3af; */
}
.optSelect:hover{
    /* background-color: var(--btn-background-color);
    color: var(--background-color); */
    background-color: #f3f2f2;
    font-weight: 500;
    transition: .3s;
}
.limpiarFiltros{
    align-content: space-around;
    margin-inline: 10px;
    display: inline;
    padding: 10px;
    width: 120px;
    border-width: 1px;
    /* border-radius: 5px; */
    font-family: var(--font-family-2);
    font-weight: 600;
    color: var(--btn-sel-background-color);
    cursor: pointer;

    border-color: #b9b3af;
    background-color: #fefefe;

}
.limpiarFiltros:hover{
    /* background-color: var(--btn-background-color); */
    background-color: #f3f2f2;
    /* color: var(--background-color); */
    transition: .3s;
}