.nav_pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 8px;
}

.button_pagination{
    font-weight:900;
    font-size: 17px;
    width: 30px;
    height: 30px;
    /* background-color: var(--btn-background-color); */
    /* background-color: rgb(205, 181, 152); */
    /* border: 1px solid var(--btn-background-color); */
    border:0ch;
    border-radius: 6px;
    cursor: pointer;
    color: var(--btn-background-color);
}

.noButton{
    box-sizing: border-box;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    border: 1px solid var(--btn-background-color);
    border-radius: 6px;
    cursor: pointer;
    color:#999491 ;
    transition: 0.2s;
    border:0ch;
    font-size: 15px;
}

.noButton:hover{
    /* background-color: var(--btn-background-color); */
    color: #837e7c;
    transform: scale(1.3);
}