.counter{
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.counter{
    padding: 3px 15px 3px 15px;
    border: 1px solid #EAEAEA;
}

.buttonMasMenos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    color: var(--btn-background-color);
}
