.header{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 16.65%, rgba(210, 236, 255, 0.225388) 112.33%) !important;
}
@media (max-width: 370px) {
  .header{
    height: 335px;
  }
  .buttons{
    flex-direction: column;
  }
}


.h1{
  font-family: var(--font-family-1);
  font-size: 4.5rem;
  padding: 10px;
  font-weight: 400;
}
.h1 span{
  text-transform: uppercase;
  font-weight: 700;
}

.header p{
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  font-weight: 400;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 30px;
}

/* Primera section  */
.cont{
  height: 500px;
}
.cont img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section{
  display: flex;
  flex-direction: column;
}

.image{
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.details h2{
  font-family: var(--font-family-2);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 50px;
}

.details p {
  font-family: Open Sans, sans-serif, Arial;
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 40px;
}

.details p span{
  background-color: var(--btn-background-color);
  color: white;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
@media (max-width: 930px) {
  .details h2{
   font-size: 2.5rem;
  }
  .details p{
    font-size: 1.5rem;
  }
 }
 @media (max-width: 620px) {
  .details h2{
   font-size: 1.9rem;
  }
  .details p{
    font-size: 1.3rem;
  }
 }
 @media (max-width: 570px) {
  .details h2{
   font-size: 2.5rem;
  }
  .details p{
    font-size: 1.6rem;
  }
  .cont{
    height: auto;
  }
 }

/* Fin Primera section */

  /* Section 2*/

/* .section :nth-child(1) {
  background-color: red;
  color: red;
  margin-right: 0;
  margin-right: 10px;
} */
 /* Inicio Cards */
.imgBodega{
  width: 400px;
  height: 500px;
}

.sectionCards{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  margin-bottom: 100px; 
}
.sectionCards h2{
    font-family: var(--font-family-1);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 80px; 
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 300px;
  background-color: #F1F0F0;
  border-radius:  6px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);;
}
.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 5px;
  border-radius: 6px 6px 6px 6px;
}
.gridCards{
  width: 80%;
  display: grid;
  justify-items: center;
  gap: 20px;
}

@media (min-width: 640px) {
  .gridCards{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
  }
 }
 @media (max-width: 450px) {
  .sectionCards h2{
    font-size: 2.2rem;
  }
 }

.card section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}


.card section h4{
  font-size: 1.8rem;
  font-family: var(--font-family-1);
  color: #1F1F1F;
  font-weight: 400;
  line-height: 22px;
}
@media (min-width: 450px) {
  .card section h4{
    font-size: 1.2rem;
  }
 }

.card section p{
  color: #1F1F1F;
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 15px;
  text-align: start;
}
.sectionAboutProject{

  width: 100%;
  height: auto;
  background-color: var(--btn-background-color);
}
.imgAbout{
  object-fit: cover;
}
/* Fin Cards */

/* About project */



.divAboutProject{
  color: white;
}
.divAboutProject h2{
  font-family: var(--font-family-1);
  font-size: 3.2rem;
  font-weight: 600;
}

.divAboutProject p{
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  font-weight: 300;
}
/* Fin about project */

/* PreeFooter */

.sectionPreFooter{
  height: auto;
  width: 100%;
  background-color: rgb(237, 234, 225);
}

.sectionPreFooter h2{
  font-family: var(--font-family-1);
  font-weight: 600;
}

.sectionPreFooter p{
  font-family: var(--font-family-1);
  font-weight: 300;
  line-height: 30px; 
}


/* --background-color: #f1f0f0;
  --btn-background-color: #56070C;
  --btn-sel-background-color: #170000;
  --normal-font-color: #1F1F1F;
  --font-sel-color:#56070C;
  --error-background-color: #161622;
  --btn-border-color: #56070C;
  --font-family-1: 'Source Sans Pro', sans-serif;
  --font-family-2: 'Montserrat', sans-serif; */

  .icon{
    background-color: #56070C;
	  border-radius: 10px;
	  box-shadow: 1px 1px 5px black;

	  position: fixed;
	  bottom: 100px;
	  right: 50px;
	  padding: 8px;

	  width: 50px;

	  cursor: pointer;
	  opacity: 1;

    width: 50px;
    height: 50px;
    animation: fadeIn 1s, scaleButton 2s infinite;
    display: none;
  }

  @keyframes scaleButton{

    0% {transform: scale(0.8);}
    50% {transform: scale(1);}
    100% {transform: scale(0.8);}
  
  }

  .iconImg{
   color: white;
    width: 100%;
    height: 100%;
  }