.header{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 16.65%, rgba(210, 236, 255, 0.225388) 112.33%) !important;
}

.h1{
  font-family: var(--font-family-1);
  font-size: 4.5rem;
  padding: 10px;
  font-weight: 400;
}
.h1 span{
  text-transform: uppercase;
  font-weight: 700;
}

.header p{
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  font-weight: 400;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  gap: 30px;
}

.section{
  display: flex;
  flex-direction: column;
  padding: 10px 20px ;
}

.section article{
  display: flex;
}
.section article .img{
  max-width: 400px;
}

.section :nth-child(1){
  align-items: center;
}
.section :nth-child(2){
  justify-content: end;
  align-items: center;
}

.details{ 
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 65px;

}
.details h2{
  margin-bottom: 70px;
  font-family: var(--font-family-2);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 54px;
  text-align: justify;
}

.details p {
  display: block;
  width: 100%;
  font-family: Open Sans, sans-serif, Arial;
  font-size: 2.1rem;
  font-weight: 400;
  text-align: justify;
  line-height: 25px;

}

.details p span{
  display:inline-block;
  width: 35px;
  height: 35px;
  margin-right: 30px;
  margin-bottom: 10px;
  background-color: var(--btn-background-color);
  color: white;
  border-radius: 50%;
  text-align: center;
  padding-top: 6px; 
}

.imgBodega{
  width: 400px;
  height: 500px;
}

.section :nth-child(2) .details{
  /*Aca iria el codigo de la seccion 2*/
  display: flex;
}

.sectionCards{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.sectionCards h2{
    font-family: var(--font-family-1);
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 80px; 
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  height: 300px;
  background-color: #F1F0F0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);;
}
.cardImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gridCards{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.card section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.card section h4{
  font-size: 1.8rem;
  font-family: var(--font-family-1);
  color: #1F1F1F;
  font-weight: 400;
  line-height: 22px;
}

.card section p{
  color: #1F1F1F;
  font-family: var(--font-family-1);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 15px;
  text-align: start;
}

.sectionAboutProject{
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 100px;
  background-color: var(--btn-background-color);
}

.divAboutProject{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: #F1F0F0;
  width: 50%;
}

.divAboutProject h2{
  font-family: var(--font-family-1);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 80px; 
}

.divAboutProject p{
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 25px;
  text-align: start;
}

.divTeamWork{
  display: flex;
}

.imgTeamWork{
  width: 100%;
  background-size: cover;
}

.sectionPreFooter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background-color: rgb(237, 234, 225);
}

.divPreFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.divPreFooter h2{
  font-family: var(--font-family-1);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 50px; 
  width: 80%;
  text-align: start;
}

.divDataPreFooter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.divData{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  gap: 10px;
  font-family: var(--font-family-1);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 25px;
  text-align: start;
}

/* --background-color: #f1f0f0;
  --btn-background-color: #56070C;
  --btn-sel-background-color: #170000;
  --normal-font-color: #1F1F1F;
  --font-sel-color:#56070C;
  --error-background-color: #161622;
  --btn-border-color: #56070C;
  --font-family-1: 'Source Sans Pro', sans-serif;
  --font-family-2: 'Montserrat', sans-serif; */