/* .header{
    margin-left: auto;
    margin-right: auto;
} */
/* .header {
    background-image: url('../../utils/images/MayorCalidadFotoAbout.jpg');
    background-size: cover;
    height: 80em;
    width: 100%;
    display: flex;;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row-reverse;
}
.apartado {
    width: 70em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
    align-items: center;
    color: var(--contrast-font-color);
    font-family: var(--font-family-1);
}
.h1{
    font-size: 50px;
    text-transform: uppercase;
} */
.title{
    font-family: var(--font-family-1);
    margin-top: 50px;
}
.sectionImage{
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.cardSection{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 40rem;
    margin: 30px 50px 0 50px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 28rem), 1fr));
}
.divCard{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 350px;
    width: 250px;
    background-color: #e5e3e3;
    border-radius: 15px;
}
/* a:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: .3s;
} */
.cardImage{
    width: 150px;
    margin-top: 20px;
    border-radius: 120px;
    height: 150px;
    object-fit: cover;
}
.enfasis{
    font-family: var(--font-family-2);
    font-weight: bolder;
    font-size: 50px;
}
.entrega{
    font-family: var(--font-family-1);
    /* display: flex; */
    /* flex-direction: column; */
    /* -webkit-box-align: center; */
    /* align-items: center; */
    /* gap: 20px; */
    font-family: var(--font-family-1);
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    /* width: 100%; */
    /* padding-top: 2em; */
    /* padding-bottom: 3em; */
    background: rgb(255, 255, 255);
}
.h1exp{
    text-transform: uppercase;
}
.contenedor{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
}
.box{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 10px 20px;
    align-self: center;
    border:0ch;
}
.text{
    width: 13em;
}
.img{
    width: 85px;
    margin:0 10px 0 0;
}
.bigtext{
    margin: 0px;
    font-size: 1.8em;
    color: var(--font-sel-color);
}
.smalltext{
    margin: 0px;
    font-size: 1.4em;
    color: rgb(142, 143, 148);
}
@media (max-width: 992px){
    .sectionImage{
        height: 350px;
    }
}

@media (max-width: 576px){
    .sectionImage{
        height: 220px;
    }
}